* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #EEEEEE;
    font-family: sans-serif;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
 background-color: #0700d5f7;
 opacity: 0.8;
}

.title {
    color: #FCD307;
    font-size: 1.8rem;
    font-weight: bold;
   
}
.subtitle {
    font-size: 0.8rem;
    color: white;
    margin: 1rem;
}

.main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section1 {
    margin-top: 9rem;
    background-color: #9dbfcb;
    padding: 0.5rem;
    border-radius: 8px;
}



.section2 {
    background-color: #8BBCCC;
    padding: 1rem ;
    margin-top: 2rem;
}

.button {
    background-color: #03045E;
    height: 5rem;
    width: 5rem;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

img{
    width: 80%;
}

.stadistics {
    color: #455D7A;
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    bottom: border-box;
   font-size: 1.5rem;
}

.button:hover {
    cursor: pointer;
}

.footer {
    margin: 1rem;
    color: #495579;
    text-align: start;
}